<footer>
    <!--底部导航-->
    <div class="foot-nav">
        <div class="copy-right"><span>CopyRight &#169;{{ settings.copy_right }}&#160;&#160;All Rights Reserved </span></div>
        <div class="license bottom-nav">
            <span>
                <a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">&nbsp;{{ settings.beiancode }}</a>
                {% if settings.show_gongan_code %}
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={{ gongan_code }}">&#160;&#160;|&#160;&#160;{{ settings.gongan_beiancode }}</a>
                {% endif %}
            </span>
        </div>
    </div>
    <div id="toTop">Back to Top</div>
    <script>
    </script>


</footer>